

.site_header {
    background-color: white;
    
}

.logo{
    margin-left: 20px;
    vertical-align: middle;
}
.title{
    font-family: 'Arial',  sans-serif;
    font-size: 30px;
}
.site_main{
    margin-top: 20px;
    background-color: #F6F8F9;
}
.container{
    background-color: white;
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
}
.elements{
    border-bottom: #F6F8F9;
}

#task1{
    padding: 10px;
    color: white;
    font-family: 'Arial',  sans-serif;
    background-color: #47ADF1 ;
    border: #47ADF1;
    border-radius: 10px;
}
#task2{
    padding: 10px;
    color: gray;
    font-family: 'Arial',  sans-serif;
    background-color: white ;
    border: gray;
    border-radius: 10px;
}
.text {
    font-size: 20px;
}
.symbol1{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
}
.symbol2{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
}
.button1{
    color: white;
    background-color: #45ABEA;
    border-radius: 10px;
    padding: 5px;
}
.button2{
    color: white;
    background-color: #9C72E4;
    border-radius: 10px;
    padding: 5px;
}
.button3{
    color: white;
    background-color: #64C0A9;
    border-radius: 10px;
    padding: 5px;
}
.button4{
    color: white;
    background-color: #F29E33;
    border-radius: 10px;
    padding: 5px;
}
.button5{
    color: white;
    background-color: #D863A1;
    border-radius: 10px;
    padding: 5px;
}
.button6{
    color: white;
    background-color: #B0C926;
    border-radius: 10px;
    padding: 5px;
}